body {
  margin: 0;
  font-family: "Nunito", sans-serif;
  font-size: 16px;
  line-height: 24px;
}

.comment {
  font-size: 14px;
  font-style: italic;
  margin: 0;
}

.form-title {
  font-size: 18px;
  margin: 0 0 10px;
}

input[type="text"],
input[type="password"],
input[type="email"],
select {
  box-sizing: border-box;
  display: block;
  padding: 2px 5px;
  width: 180px;
}

input[type="checkbox"],
input[type="radio"] {
  margin: 0;
  margin-right: 4px;
}

.form-group + .form-group {
  margin: 20px 0 0;
}

.form-group label {
  cursor: pointer;
}

.form-group .checkbox-group {
  label {
    display: flex;
    align-items: baseline;
  }
}

.form-group .radio-group {
  display: flex;

  label {
    display: flex;
    align-items: baseline;
    margin: 0;
    margin-right: 16px;
  }
}

.form-group .field-error {
  color: red;
  font-size: 14px;
  margin: 2px 0 4px;
}

.form-buttons {
  margin: 20px 0 0;
}
