body {
  margin: 0;
  font-family: "Nunito", sans-serif;
  font-size: 16px;
  line-height: 24px;
}

.form-title {
  font-size: 18px;
  margin: 0 0 10px;
}

input[type="text"],
input[type="password"],
input[type="email"] {
  display: block;
}

.form-group .field-error {
  color: red;
  font-size: 14px;
  margin: 2px 0 4px;
}

.form-buttons {
  margin: 20px 0 0;
}
